@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h2> JCCC CIS 264 Project </h2>

</div>

<p>
    This is a semester project done by Robinson Majorenos, John Omariba, Danny Ortiz
</p>
<p>
    This is a Purchase order enhancement system for Catholic Charities.
</p>
