@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="home-box">
        <div id="container">
            <div id="left">
                <a href="@Url.Action("Index", "Assets")">
                    <img src="~/Images/assets.png" />
                    </a>
                    <div class="asset_title">
                        @Html.ActionLink("Assets", "Index", "Assets")
                    </div>
</div>
            <div id="center">
                <a href="@Url.Action("Index", "Employees")">
                    <img src="~/Images/emp.png" />
                    </a>
                    <div class="employee_title">
                        @Html.ActionLink("Employees", "Index", "Assets")
                    </div>

</div>
            <div id="right">
                <img class="settings" src="~/Images/settings.png" />
                <div class="Settings_title">Settings</div>
            </div>
        </div>


    </div>


</div>


