@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
        <h2>@ViewBag.Title Catholic Charities</h2>
    
</div>
 
 
 
 
     <p>
            Founded in 1956, Catholic Charities of Northeast Kansas is a ministry of the Archdiocese of Kansas City in Kansas.
            Our purpose is to animate the Gospel of Jesus Christ by putting love into action through specialized programs and
            services for those in need. Staff and volunteers embrace the broadest definition of “who is our neighbor,” serving
            not only the Catholic community but all faiths across 21 counties in Northeast Kansas.
    
</p>
 
     <p>
            Eight Emergency Assistance Centers, nine food pantries and two mobile resource buses assist more than 12,000 people
            each month, providing food for the hungry, clothing for those in need and shelter for the homeless. Financial literacy
            and job placement services are available for those who move past the crisis phase and are ready to take the next steps
            towards self-sufficiency.
    
</p>
 
     <p>
            Catholic Charities also counsels pregnant women facing an unexpected pregnancy; pairs adoptive families with infants
            in need of a forever home; resettles refugees from Africa, Southeast Asia and the Middle East forced to flee their
            country due to religious or ethnic persecution; schedules volunteer visits to the elderly to ease loneliness, and
            in-home support to help seniors live independently as long as it’s safely possible; and enhances the lives of loved
            ones facing a life-limiting illness, caring for them physically and providing them and their families emotional and
            spiritual support through the compassionate ministry of Catholic Community Hospice.
    
</p>
 
     <p>
            From the beginning to life’s end, Catholic Charities is there every step of the way dispensing love and hope.
    
</p>